.main {
	max-width: 100%;
}

.toggle-controls {
	width: auto;
	padding: 4px 8px;
    cursor: pointer;
    color: #444;
    font-weight: bold;
    font-size: 12px;
    background: rgba(255,255,255,0.9);
    box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
    position: fixed;
    top: 127px;
    left: 20px;
    z-index: 9;
}

#map {
	height: 100vh;
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
}

@media (min-width: 1025px) {
	#map {
		height: 100vh;
	}
}

.filter {
	padding: 35px 25px;
	background-color: #4285F4;
	z-index: 11;
	position: relative;
	height: auto;
}

input {
	margin: 0 !important;
}

.filter-input {
	position: relative;
}

.clear-filter {
	display: block;
	background: url(data:image/gif;base64,R0lGODlhBwAHAIAAAP///5KSkiH5BAAAAAAALAAAAAAHAAcAAAIMTICmsGrIXnLxuDMLADs=
);
	background-repeat: no-repeat;
	background-size: cover;
	height: 10px;
	width: 10px;
	position: absolute;
	top: 14px;
	right: 13px;
	cursor: pointer;
}


.list {
	display: none;
    position: fixed;

    height: calc(100vh);
    left: 15vw;
    border-radius: 6px;
    border: 1px solid #BFBFB9;
    z-index: 11;
    background-color: white;
    margin: 0;
    padding: 0
}

.list-container {
	overflow: hidden;
	height: 100%;
}

.list img {
	position: absolute;
	right: -15px;
	top: -15px;
	cursor: pointer;
}

@media (max-width: 1025px) {

	/* Width specified with media query so that foundation's columns width can be used */
	.list {
		width: 70vw;
	}
	ul::-webkit-scrollbar {
		display: none;
	}
}



ul {
	height: 100%;
	overflow: auto;
	margin: 0;
}



li {
	list-style: none;
	padding: 10px 0 10px 20px;
	border-bottom: 1px solid #ccc;
	font-size: 12px;
	cursor: pointer;
}

li:hover:not(.selected){
	background: #e7e7e7;
}

.selected {
	background: #c7c7c7;
}

.overlay {
	display: none;
	position: absolute;
	width: 100vw;
	height: 100vh;
}
.overlay:after {
	content: " ";
	display: block;
	background: rgba(0,0,0,0.8);
	z-index: 10;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
@media (min-width: 1025px) {
	.list {
		display: block !important;
		padding: 0;
	    height: auto;
	    border-radius: 0;
	    border: 0;
	    position: fixed;
	    top: 0px;

	    left: 0 !important;
	    transition: .2s linear;
	    z-index: 11;
	}

	.list img {
		display: none;
	}

	.overlay {
		display: none !important;
	}
	ul {
		height: calc(100vh - 107px);
	}
	.filter-background {
		height: 90px;
		background-color: blue;
	}
}


#info-window {
	min-width: 30vw;
	max-height: 45vh;
	min-height: 220px;
	position: relative;
	padding: 3%;
	display: none;
}


#location-info {
	width: 95%;
	height: 95%;
	/*border: 2px solid red;*/
	position: absolute;
}

#info-window {
	font-size: 28px;
	font-weight: bold;
	color: #555;
}

.api-buttons {
	width:100%;
	/*border:1px solid black;*/
	position: absolute;
	bottom: 10%;
	text-align: center;
}

.api-buttons img {
	margin: 0 auto;

}

.api-buttons img:first-child {
	margin-right: 15px;
}

#wiki-window, #flickr-window {
	display: none;
	font-size: 22px;
}

#wikipedia-button, #flickr-button{
	cursor: pointer;
	float: left;
	display: none;
}

/*.info-window-bar {
	width:100%;
	background: #e2e2e2;
	text-align: center;
	font-weight: bold;
	font-size: 13px;
	padding: 6px 6px 6px 20px;
	position: relative;
	height: auto;
}

.info-window-bar span {
	position: absolute;
	display: block;
	left:0;
	top:0;
	height: 40px;
	width: 35px;
	cursor: pointer;
	background: #a8a8a8;

}*/

#info-window ul {
	height: 100%;
	overflow: auto;
	margin: 0;
}



#info-window li {
	list-style: none;
	padding: 10px 0 10px 20px;
	border-bottom: 1px solid #ccc;
	font-size: 12px;
	cursor: pointer;
}


#info-window li:hover:not(.selected){
	background: #e7e7e7;
}

.go-back {
	cursor: pointer;
}

#flickr-loading {
	z-index: 9999;
	width:100%;
	display: none;
	position: absolute;
	height: 100%;
	text-align: center;
	padding-top: 10%;
	background:white;
	font-size: 24px;
	line-height: .9;
}

#flickr-loading img {
	display: block;
	margin: 0 auto 10px;

}

#flickr-loading span {
	font-size: 11px;
}



#flickr-gallery {
	display: none;
}


#add-overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 99999;
	background-color: rgba(0,0,0,0.9);
	top: 0;
	left: 0;
	display: none;

}


.pac-container {
	z-index: 999999;
	cursor: pointer;
}

.li-item{
	position: relative;
}


.delete-item {
	position: absolute;
	right: 25px;
	color: #ccc;
	font-weight: bold;
	cursor: pointer;
	font-size:14px;
}

.delete-item:hover {
	color: red;
}

.filter-input {
	z-index: 999;
	width:250px;
	position: fixed;
	top: 25px;
	left: 25px;
	padding-bottom: 25px;

}







