.main {
	max-width: 100%;
}

.toggle-controls {
	width: auto;
	padding: 4px 8px;
    cursor: pointer;
    color: #444;
    font-weight: bold;
    font-size: 12px;
    background: rgba(255,255,255,0.9);
    box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
    position: fixed;
    top: 127px;
    left: 20px;
    z-index: 9;
}

#map {
	height: calc(100vh - 107px);
	z-index: 1;
	float: left;
}

@media (min-width: 1024px) {
	#map {
		height: 100vh;
	}
}

.filter {
	padding: 35px 25px;
	background-color: #4285F4;
	z-index: 11;
	position: relative;
	height: auto;
}

input {
	margin: 0 !important;
}



.list {
	display: none;
    position: fixed;
    top: 157px;
    height: calc(100vh - 207px);
    left: 15vw;
    border-radius: 6px;
    border: 1px solid #BFBFB9;
    z-index: 11;
    background-color: white;
    margin: 0;
    padding: 0
}

.list-container {
	overflow: hidden;
	height: 100%;
}

.list img {
	position: absolute;
	right: -15px;
	top: -15px;
	cursor: pointer;
}

@media (max-width: 1024px) {

	/* Width specified with media query so that foundation's columns width can be used */
	.list {
		width: 70vw;
	}
	ul::-webkit-scrollbar {
		display: none;
	}
}

@media (min-width: 1025px) {
	.list {
		display: block !important;
		padding: 0;
	    height: auto;
	    border-radius: 0;
	    border: 0;
	    position: fixed;
	    top: 107px;
	    left: 0 !important;
	    z-index: 11;
	}

	.list img {
		display: none;
	}

	.overlay {
		display: none !important;
	}
}

ul {
	height: calc(100vh - 107px);
	overflow: auto;
	margin: 0;
}



li {
	list-style: none;
	padding: 10px 0 10px 20px;
	border-bottom: 1px solid #ccc;
	font-size: 12px;
}

li:hover {
	background: #e7e7e7;
	cursor: pointer;
}

.selected {
	background: #c7c7c7;
}

.overlay {
	display: none;
	position: absolute;
	width: 100vw;
	height: 100vh;
}
.overlay:after {
	content: " ";
	display: block;
	background: rgba(0,0,0,0.8);
	z-index: 10;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}


